---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.reponse";

import Pokemon from "../../components/pokemon/Pokemon.astro"
import MainLayout from "../../layouts/MainLayout.astro";

// Ruta dinamica que espera un nombre del pokemon para crear una pagina nueva

// Funcion que permite generar un pagina dinamica con el nombrel del pokemon
export const getStaticPaths = ( async () => {

    const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
    const { results } = await resp.json() as PokemonListResponse;

    // retornamos los params y las props de cada pokemon 

    return results.map(({ name, url }) => ({
        params: {name: name },
        props: {name: name, url: url}
    }));

}) satisfies GetStaticPaths;


//Obtenemos el nombre de cada uno de los parametros del pokemon en la ruta dinamica
const { name } = Astro.params;

const { url } = Astro.props

const id = url.split('/').at(-2);

const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`
---

<MainLayout title="algun pokemon ">

    <section class="mt-10 mx-10 flex flex-col justify-center items-center">
       <div>
            <a href="/">Regresar</a>
            <h1 class="text-5xl capitalize">{ name }</h1>
       </div>

       <!-- Componente Pokemon -->
       <Pokemon name={ name } url={url} isBig />

       <audio controls class="mt-5">
            <source src={ audioSrc} type="audio/ogg" />
       </audio>
       
    </section>
</MainLayout>


<style>
    a {
        @apply hover:underline text-blue-500
    }
</style>
