---
import MainLayout from "src/layouts/MainLayout.astro"
import Title from "src/components/shared/Title.astro"
---

<MainLayout title="Favoritos">
    <!-- Componente Title -->

    <Title>Favoritos</Title>
</MainLayout>

