---
import { ViewTransitions } from 'astro:transitions';
import {siteInfo }from "src/const/site-info";

import NavBar from 'src/components/shared/NavBar.astro';

// agregamos la props de image y description para cada pagina de cada pokemon , para poder mostrar los meta datos de la pagina
interface Props {
    title?: string;
    image?: string;
    description?: string
}
const { title = siteInfo.title, description = siteInfo.descripcion, image  } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO -->
    <meta name="description" content={ description}>
    <meta name="author" content={"Josue Alejandro"}>

    <!-- OG Metatags -->
     <meta property="og:title" content={title}>
     <meta property="og:description" content={description}>
     <meta property="og:image" content={image}>
    <title>{ title }</title>

    <!-- Transiciones entre paginas #Forma 1 -->
    <ViewTransitions />

    <!-- ViewTransition con zero JS  Forma 2-->
    <!-- <style>
        @view-transition {
          navigation: auto; /* enabled! */
        }
    </style> -->
</head>
<body class="bg-slate-800 text-slate-100">
    <!-- Componente NavBar -->
    <NavBar />
    <main class="m-auto max-w-3xl">
        <slot />
    </main>
</body>
</html>